footer {
  @media (max-width: 767px) {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
  background: url("/img/illusion.png") repeat top center;
  position: relative;
  z-index: 3;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  p, address {
    color: #ccc;
    > a {
      color: #00caf5;
      &:hover {
        color: lighten(#00caf5, 10%);
      }
    }
  }
  .footer-caption {
    color: white;
    text-shadow: none;
    font-weight: normal;
    margin-top: 25px;
    text-transform: uppercase;
  }
  .copyright {
    color: #444;
  }
  .nav {
    margin-left: 0;
    margin-bottom: 30px;
    li {
      padding-left: 0;
      padding-right: 20px;
      margin-bottom: 10px;
      > a {
        color: #ccc;
        &:hover {
          background: inherit;
          text-decoration: underline;
          color: #fff;
        }
      }
    }
  }
}