.section-team.detailed {
  .team-nav {
    height: 150px;
    .team-carousel {
      position: fixed;
      top: 41px;
      z-index: 10;
      .box-sizing(border-box);
      .carousel {
        height: 150px;
        padding: 30px 80px 30px;
        margin-bottom: 0;
        background: white;
        .box-sizing(border-box);
        .team-member {
          display: inline-block;
          width: 14%;
          img {
            display: inline-block;
            max-height: 100%;
            max-width: 100%;
          }
        }
        .carousel-control {
          top: 50%;
          .opacity(0.7);
          &.left {
            background: transparent url("/img/arrow-left.png") no-repeat center center;
          }
          &.right {
            background: transparent url("/img/arrow-right.png") no-repeat center center;
          }
          &:hover {
            .opacity(1);
          }
        }
      }
    }
  }

  > h1 {
    margin: 200px 0;
    @media (max-width: 979px){
      margin: 15px 0;
    }
  }

  .bio {
    padding-top: 250px;
    margin-top: -50px;
    text-align: center;
    @media (max-width: 979px){
      margin: 50px 0;
      padding-top: 0;
      width: auto;
    }
    .occupation {
      position: relative;
      &:after, &:before {
        content: "";
        display: block;
        position: absolute;
        top: 47%;
        border-top: 3px solid black;
        width: 32px;
      }
      &:after {
        left: 107%;
      }
      &:before {
        right: 107%;
      }
    }
    .summary {
      color: #3c3c3c;
      display: block;
      margin: 20px 0;
    }
  }

  &.detailed {
    margin-bottom: 100px;
  }
}

.nav {
  .dropdown {
    &.open.active {
      .dropdown-toggle {
        &:after {
          display: none;
        }
      }
      .dropdown-menu {
        .active {
          a:after {
            display: none;
          }
        }
      }
    }
  }
}
